<html>
<head>
<style type="text/css">
@import URL("../bridge.css");
</style>
<script language='javascript'>
<!--
//-->
</script>
</head>
<body bgcolor="#EEEEEH">
<div id=intro>

<p class=shead>Playing a Bridge Hand&nbsp;&nbsp;
<input type=checkbox onclick=parent.maxView(this)><span class=dropdown>maxView</span></input>

<p>This tool is intended to be used by bridge buffs, who like to analyze the play of a deal, primarily for
hands involving squeezes. 
Most of us are too lazy to lay out the cards, but at the same time would benefit more by seeing what
is actually happening as the cards are played.  This tool displays all four hands at all times, but as
cards are played the background color changes, making it obvious which cards have been played.

<ul>
<li>The default left panel contains a list of pre-dealt deals from various sources, with the primary
focus being hands from Clyde Love's book <i>Bridge Squeezes Complete</i>. It is expected that
the user of this tool will be reading along with Love's book as a deal is played. The left panel also 
contains a link to a panel that enables you to enter and save your own hands.<br><br>

<li>A list of pre-dealt hands is made visible by clicking on the triangle to the left of one of the 
categories. Click one of the pre-dealt hands and you will be taken to the play-a-hand panel. 
There you can play a deal from trick 1 to 13. The trick table displays the cards played to each trick, and 
highlights the winner when the trick is completed.  If you want to back track on a particular trick, 
just click the last card played.  If you want to back track several tricks, enter the trick number where
you want to start over and click the restart button.<br><br>

<li>On the play-a-hand panel there is also a select list that will display the rules defined
by Clyde Love for different types of squeezes.<br><br>

<li>The enter-a-deal panel allows you to enter the cards for a deal, save the deal, recall the deal, and
play the deal.  Saved deals can also be deleted.  If you want to try a variation on one of the pre-dealt
deals, click that deal in left panel, then click the link for Enter Deal (on left panel).  
When the display completes, click the Get button to automatically pull in the pre-dealt deal. 
Make a few changes to the deal, give it a name, click save, then play.<br><br>

<li>The select list in the top panel provides the flexibility to switch to other sets of pre-dealt deals
as they are made available. 

</ul> 
</div>


</body>
</html>