<html>
<head>
<LINK REL="stylesheet" TYPE="text/css" HREF="../bridge.css">
<SCRIPT LANGUAGE="JavaScript1.2" src="loaddeals.js">

</SCRIPT>
</head>


<body bgcolor="#EEEEEH" onload=loadDeals()>

<div id=return>
<a href=./dealmain.html target=main>Return to Main</a>
</div>
<div id=enterdeal>
<a href=./enterdeal.html target=main>Enter Deal</a>
</div>

<br>


<A HREF=./playhand.html target=main onclick=setPtr(0)>Sample Hand</A>

<H5><A HREF="#" onClick="expandIt('el1'); return false">
<IMG SRC="../Images/triDown.gif" WIDTH=16 HEIGHT=16 BORDER=0></A>
Love Simple Squeeze</H5>
<P ID="el1" STYLE="display:none; background-color:yellow">
<A HREF=./playhand.html target=main onclick=setPtr(1)>Exercise 1</A>
<BR><A HREF=./playhand.html target=main onclick=setPtr(2)>Exercise 2</A>
<BR><A HREF=./playhand.html target=main onclick=setPtr(3)>Exercise 3</A>
<BR><A HREF=./playhand.html target=main onclick=setPtr(4)>Exercise 4</A>
<BR><A HREF=./playhand.html target=main onclick=setPtr(5)>Exercise 5</A>
<BR><A HREF=./playhand.html target=main onclick=setPtr(6)>Exercise 6</A>
<BR><A HREF=./playhand.html target=main onclick=setPtr(7)>Exercise 7</A>
<BR><A HREF=./playhand.html target=main onclick=setPtr(8)>Exercise 8</A>
<BR><A HREF=./playhand.html target=main onclick=setPtr(9)>Exercise 9</A>
<BR><A HREF=./playhand.html target=main onclick=setPtr(10)>Exercise 10</A>
<BR><A HREF=./playhand.html target=main onclick=setPtr(11)>Exercise 11</A>
<BR><A HREF=./playhand.html target=main onclick=setPtr(12)>Exercise 12</A>
<BR><A HREF=./playhand.html target=main onclick=setPtr(13)>Exercise 13</A>
<BR><A HREF=./playhand.html target=main onclick=setPtr(14)>Exercise 14</A>
<BR><A HREF=./playhand.html target=main onclick=setPtr(15)>Exercise 15</A>
<BR><A HREF=./playhand.html target=main onclick=setPtr(16)>Exercise 16</A>
<BR><A HREF=./playhand.html target=main onclick=setPtr(17)>Exercise 17</A>
<BR><A HREF=./playhand.html target=main onclick=setPtr(18)>Exercise 18</A>
<BR><A HREF=./playhand.html target=main onclick=setPtr(19)>Exercise 19</A>
<BR><A HREF=./playhand.html target=main onclick=setPtr(20)>Exercise 20</A>
<BR><A HREF=./playhand.html target=main onclick=setPtr(21)>Exercise 21</A>
</P>


<H5><A HREF="#" onClick="expandIt('el2'); return false">
<IMG SRC="../Images/triDown.gif" WIDTH=16 HEIGHT=16 BORDER=0></A>
Love Double Squeeze</H5>
<P ID="el2" STYLE="display:none; background-color:yellow">
<A HREF=./playhand.html target=main onclick=setPtr(22)>Exercise 24</A>
<BR><A HREF=./playhand.html target=main onclick=setPtr(23)>Exercise 25</A>
<BR><A HREF=./playhand.html target=main onclick=setPtr(24)>Exercise 26</A>
<BR><A HREF=./playhand.html target=main onclick=setPtr(25)>Exercise 27</A>
<BR><A HREF=./playhand.html target=main onclick=setPtr(26)>Exercise 28</A>
<BR><A HREF=./playhand.html target=main onclick=setPtr(27)>Exercise 29</A>
<BR><A HREF=./playhand.html target=main onclick=setPtr(28)>Exercise 30</A>
<BR><A HREF=./playhand.html target=main onclick=setPtr(29)>Exercise 31</A>
<BR><A HREF=./playhand.html target=main onclick=setPtr(30)>Exercise 32</A>
<BR><A HREF=./playhand.html target=main onclick=setPtr(31)>Exercise 33</A>
<BR><A HREF=./playhand.html target=main onclick=setPtr(32)>Exercise 34</A>
<BR><A HREF=./playhand.html target=main onclick=setPtr(33)>Exercise 35</A>
<BR><A HREF=./playhand.html target=main onclick=setPtr(34)>Exercise 36</A>
<BR><A HREF=./playhand.html target=main onclick=setPtr(55)>Exercise 36A</A>
<BR><A HREF=./playhand.html target=main onclick=setPtr(35)>Exercise 37</A>
<BR><A HREF=./playhand.html target=main onclick=setPtr(36)>Exercise 38</A>
<BR><A HREF=./playhand.html target=main onclick=setPtr(37)>Exercise 39</A>
<BR><A HREF=./playhand.html target=main onclick=setPtr(38)>Exercise 40</A>
</P>

<H5><A HREF="#" onClick="expandIt('el5'); return false">
<IMG SRC="../Images/triDown.gif" WIDTH=16 HEIGHT=16 BORDER=0></A>
Love Triple Squeeze</H5>
<P ID="el5" STYLE="display:none; background-color:yellow">
<A HREF=./playhand.html target=main onclick=setPtr(53)>Exercise 66</A>
<BR><A HREF=./playhand.html target=main onclick=setPtr(54)>Exercise 67</A>
<BR><A HREF=./playhand.html target=main onclick=setPtr(56)>Exercise 68</A>
<BR><A HREF=./playhand.html target=main onclick=setPtr(57)>Exercise 69</A>
<BR><A HREF=./playhand.html target=main onclick=setPtr(58)>Exercise 70</A>
<BR><A HREF=./playhand.html target=main onclick=setPtr(59)>Exercise 71</A>
<BR><A HREF=./playhand.html target=main onclick=setPtr(60)>Exercise 72</A>
<BR><A HREF=./playhand.html target=main onclick=setPtr(61)>Exercise 73</A>
<BR><A HREF=./playhand.html target=main onclick=setPtr(62)>Exercise 74</A>
<BR><A HREF=./playhand.html target=main onclick=setPtr(63)>Exercise 75</A>
<BR><A HREF=./playhand.html target=main onclick=setPtr(64)>Exercise 76</A>
<BR><A HREF=./playhand.html target=main onclick=setPtr(65)>Exercise 77</A>
<BR><A HREF=./playhand.html target=main onclick=setPtr(66)>Exercise 78</A>
<BR><A HREF=./playhand.html target=main onclick=setPtr(67)>Exercise 79</A>
<BR><A HREF=./playhand.html target=main onclick=setPtr(68)>Problem 23</A>
<BR><A HREF=./playhand.html target=main onclick=setPtr(69)>Problem 24</A>
</P>

<H5><A HREF="#" onClick="expandIt('el3'); return false">
<IMG SRC="../Images/triDown.gif" WIDTH=16 HEIGHT=16 BORDER=0></A>
Love Compound Squeeze</H5>
<P ID="el3" STYLE="display:none; background-color:yellow">
<A HREF=./playhand.html target=main onclick=setPtr(39)>Exercise 99</A>
<BR><A HREF=./playhand.html target=main onclick=setPtr(40)>Exercise 100</A>
<BR><A HREF=./playhand.html target=main onclick=setPtr(41)>Exercise 101</A>
<BR><A HREF=./playhand.html target=main onclick=setPtr(42)>Exercise 102</A>
<BR><A HREF=./playhand.html target=main onclick=setPtr(43)>Exercise 103</A>
<BR><A HREF=./playhand.html target=main onclick=setPtr(44)>Exercise 105</A>
<BR><A HREF=./playhand.html target=main onclick=setPtr(45)>Exercise 106</A>
<BR><A HREF=./playhand.html target=main onclick=setPtr(46)>Exercise 108</A>
<BR><A HREF=./playhand.html target=main onclick=setPtr(47)>Exercise 109</A>
<BR><A HREF=./playhand.html target=main onclick=setPtr(48)>Exercise 110</A>
<BR><A HREF=./playhand.html target=main onclick=setPtr(49)>Exercise 111</A>
<BR><A HREF=./playhand.html target=main onclick=setPtr(70)>Exercise 117</A>
<BR><A HREF=./playhand.html target=main onclick=setPtr(50)>Problem 30</A>
</P>


<H5><A HREF="#" onClick="expandIt('el4'); return false">
<IMG SRC="../Images/triDown.gif" WIDTH=16 HEIGHT=16 BORDER=0></A>
Miscellaneous</H5>
<P ID="el4" STYLE="display:none; background-color:yellow">
<A HREF=./playhand.html target=main onclick=setPtr(51)>Test Your Play(8/02)</A>
<BR><A HREF=./playhand.html target=main onclick=setPtr(52)>Sample Revisited</A>
<BR><A HREF=./playhand.html target=main onclick=setPtr(71)>Problem 40</A>
</P>


</BODY>
</HTML>
